gunicorn==20.1.0
Flask==3.0.2
Flask-Cors==4.0.0
numpy==1.26.4
opencv-python==4.9.0.80
Pillow==10.1.0
fpdf2==2.7.7
PyMuPDF==1.23.25
gradio-client==0.11.0
python-dotenv==1.0.0
APScheduler==3.10.4
pdf2image==1.17.0
comtypes==1.2.0
werkzeug==3.0.1
